.footer{
    width: 100%;
    background-color: var(--color-blue-low);
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
}

.container-footer{
    width: 95%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-footer{
    margin-bottom: 30px;
}

.text-footer h1{
    display: flex;
    place-items: center;
    margin-bottom: 40px;
}

.text-footer ul li{
    margin-bottom: 30px;
    font-weight: 600;
}

.download-app{
    display: flex;
    flex-direction: column;
}

.download-app h2{
    margin-bottom: 40px;
}

.download-app img{
    width: 150px;
}

.developed{
    width: 100%;
    background-color: var(--color-white);
    text-align: center;
}

.developed h2{
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.developed a{
    color: black;
}

.developed svg{
    margin: 5px;
}