.container-banner{
    position: relative;
    width: 100%;
    height: 500px;
}   

.container-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main-products{
    width: 100%;
    color: var(--color-font);
}

.section-interes{
    width: 95%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#show-catalogue{
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#show-catalogue a{
    background-color: var(--color-violet);
    color: white;
    padding: 15px 10px;
    border-radius: 10px;
    font-weight: 600;
}

.title-section-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    margin-bottom: 30px;
}

.title-section-product a{
    font-size: 18px;
    display: flex;
    place-items: center;
    color: var(--color-font);
}

.title-section-product a svg{
    margin-left: 10px;
}

.item-product{
    max-width: 250px;
    margin-bottom: 50px;
}

.item-product img{
    width: 100%;
    height: 200px;
    object-fit: contain;

}

.item-product a{
    color: var(--color-font);
}

.item-product h2{
    font-size: 18px;
    font-weight: 500;

}

.item-product p{
    font-weight: 700;
    font-size: 18px;
}

.item-product .price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.item-product .price svg{
    background-color: rgba(205, 205, 205, 0.523);
    border-radius: 50px;
    padding: 2px;
}

.section-buy{
    width: 95%;
    margin: auto;
    display: flex;
    place-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
}

.item-buy{
    width: 500px;
    display: flex;
    place-items: center;
    color: white;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-bottom: 30px;

}

.text-item-buy{
    padding: 30px;
}

.item-buy h2{
    padding-bottom: 20px;
}

.item-buy a{
    color: var(--color-font);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
}

.item-buy:nth-child(1){
    background-color: var(--color-blue-second);
}

.item-buy:nth-child(2){
    background-color: var(--color-pink);
}

.item-buy:hover #img-buy{
    transform: scale(1.5);
}

.item-buy img{
    width: 180px;
    height: 180px;
    transition: all 300ms;
}


.section-video{
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 80px;
}

.section-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(60%);

}

.text-video{
    position: absolute;
    z-index: 2;
    color: white;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.text-video  h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.text-video h2{
    font-size: 38px;
}

.icons-social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icons-social-media li{
    margin: 15px;
    padding: 5px;
    border-bottom: 2px solid white;
}

.icons-social-media li a{
    color: white;
}

.payment{
    width: 95%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.payment h2{
    width: 100%;
    margin-bottom: 40px;
}

.payment-img{
    width: 200px;
    display: flex;
    place-items: center;
    margin-bottom: 20px;
}

.payment-img img{
    width: 100%;
}