/* FORM LOGIN */

.container-login{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    place-items: center;
}

.login{
    width: 360px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    place-items: center;
}

.login h1{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.login input{
    width: 95%;
    outline: none;
    padding: 15px 10px;
    border-style: none;
    border: 1px solid transparent;
    margin-bottom: 10px;
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    font-size: 18px;
    border-bottom: 1px solid rgb(184, 184, 184);
}

.login button{
    width: 100%;
    padding: 15px 10px;
    font-size: 18px;
    margin-top: 30px;
    background-color: var(--color-violet);
    border-style: none;
    color: var(--color-white);
    cursor: pointer;
}

.login-options{
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.container-login li a{
    margin: 5px;
    color: var(--color-violet);
    font-weight: 600;
}

.input-container{
    width: 100%;
    margin-bottom: 30px;
}

.input-container .input-invalid{
    border: 1px solid var(--warning-color);
}

.input-container .input-succes{
    border: 1px solid var(--success-color);
}

.input-message-error {
    color: var(--warning-color);
    display: block;
    border-top: 2px solid var(--warning-color);
    padding-top: 5px;
}


/* FORM REGISTER */

.inputName, .inputLastName{
    width: 46%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

